:root {
  --color-primary: #5f4a90;
}

*::-moz-selection {
  background-color: var(--color-primary);
  color: #fff;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
	background-color:#fff;;
  box-shadow: 0 0 8px 0 #676565;
  width: 100%;
  padding: 10px;
}

.header__img {
  width: 30px;
}

.header__logo,
.header__menu,
.header__menu-list-item {
  display: inline-block;
}

.header__menu {
  float: right;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

.banner__button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all ease .5s;
}

section button:hover {
  background-color: #fff;
  color:#000;
  transition: all ease .5s;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../src/img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.banner__contain {
  text-align: center;
  
}

.titulo-banner {
  background-image: url("../src/img/about-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 40vh;
  line-height: 40vh;
  text-align: center;
  text-transform: uppercase;
}

.titulo-banner h1{
  font-size: 45px;
}

.conteudo-principal {
  padding: 40px 20px;
}

.conteudo-principal .video-about {
  width: 45%;
  display: inline-block;
  padding: 30px;
}

.conteudo-principal .video-about video{
  width: 100%;
}

.conteudo-principal .texto {
  width: 54%;
  display: inline-block;
  vertical-align: top;
  padding: 40px;
}

.audio-about {
  background-color: #f1f3f4;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  padding: 10vh;
}

.audio-about p {
  text-transform: uppercase;
  font-size: 18px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 4vh;
  font-size: 18px;
}

/* Contact */

.contact-page {
	background: url('../src/img/bg.jpg') no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

#contact {
	border: 1px solid var(--color-primary);
	padding: 40px;
	width: 500px;
	border-radius: 10px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0)
}

#contact input:not([type="checkbox"]),
#contact textarea {
	width: 100%;
	border: 1px solid var(--color-primary);
	border-radius: 15px;
	padding: 5px;
  background-color: transparent;
  outline: none;
}

#contact input:not([type="checkbox"]):focus,
#contact textarea:focus {
  border: 2px solid var(--color-primary);
  transition: all ease .2s;
}


#contact textarea {
	resize: none;
	height: 100px;
}

#contact h1 {
	text-align: center;
}

.contact__button {
	display: block;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
	transition: all ease .5s;
	float: right;
}

.contact__button:hover {
  background-color: #fff;
  color:#000;
  transition: all ease .5s;
}