:root {
  --color-primary: #5f4a90;
}

*::-moz-selection {
  background-color: var(--color-primary);
  color: #fff;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.banner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('../src/img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}

.banner__contain {
  text-align: center;
  margin-bottom: 110px;
}

p.banner__text {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;

}

.titulo-banner {
  background-image: url("../src/img/about-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 40vh;
  line-height: 40vh;
  text-align: center;
  text-transform: uppercase;
}

.banner__title{
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.conteudo-principal {
  padding: 40px 20px;
  height: 100vh;
}

.conteudo-principal .video-about {
  width: 45%;
  display: inline-block;
  padding: 30px;
}

.conteudo-principal .video-about video{
  width: 100%;
}

.conteudo-principal .texto {
  width: 54%;
  display: inline-block;
  vertical-align: top;
  padding: 40px;
}

.audio-about {
  background-color: #f1f3f4;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  padding: 10vh;
}

.audio-about p {
  text-transform: uppercase;
  font-size: 18px;
}

.footer {
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 4vh;
  font-size: 18px;
}

/* Contact */

.contact-page {
	background: url('../src/img/bg.jpg') no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

#contact {
  position: absolute;
  top: 50%;
  left: 50%;
	border: 1px solid var(--color-primary);
	padding: 40px;
	width: 500px;
	border-radius: 10px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
	transform: translate3d(-50%, -50%, 0)
}

#contact input:not([type="checkbox"]),
#contact textarea {
	width: 100%;
	border: 1px solid var(--color-primary);
	border-radius: 15px;
	padding: 5px;
  background-color: transparent;
  outline: none;
}

#contact input:not([type="checkbox"]):focus,
#contact textarea:focus {
  border: 2px solid var(--color-primary);
  transition: all ease .2s;
}


#contact textarea {
	resize: none;
	height: 100px;
}

#contact h1 {
	text-align: center;
}

.galeria {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.galeria-item {
  width: 400px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 15px;
}

.galeria-item img {
  width: 100%;
  transition: all linear .2s;
}

.galeria-item--zoom img {
  transform: scale(1.5);
  transition: all linear .2s;
}

.galeria-item .caixa-botao {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}
