body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  box-shadow: 0 0 8px 0 #676565;
  width: 100%;
  padding: 10px;
}

header img {
  width: 30px;
}

.header__logo,
.header__menu,
.header__menu--listItem {
  display: inline-block;
}

.header__menu {
  float: right;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

section {
  text-align: center;
}

section button {
  background-color: #5f4a90;
  border: 1px solid #5f4a90;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all ease .5s;
}

section button:hover {
  background-color: #fff;
  color:#5f4a90;
  transition: all ease .5s;
}

.banner {
  background-image: url('../src/img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}